[submodule "egit-github"]
	path = egit-github
	url = https://github.com/eclipse/egit-github.git
[submodule "knockout-paged"]
	path = knockout-paged
	url = https://github.com/lelandrichardson/knockout-paged.git
[submodule "bennu"]
	path = bennu
	url = git@github.com:joantune/bennu.git
[submodule "ist-dsi-maven"]
	path = ist-dsi-maven
	url = git@github.com:ist-dsi/ist-dsi-maven.git
