@import "../../themes/bootstrap/less/bootstrap.less";

.table-hover-clickable {
.table-hover;
}
/*
.table-hover-clickable tbody tr {
 .table-hover tbody tr;
 display: pointer;
  }
*/

.table-hover-clickable tbody tr {
	cursor: pointer;
  &.success:hover > td {
    background-color: darken(@successBackground, 5%);
  }
  &.error:hover > td {
    background-color: darken(@errorBackground, 5%);
  }
  &.warning:hover > td {
    background-color: darken(@warningBackground, 5%);
  }
  &.info:hover > td {
    background-color: darken(@infoBackground, 5%);
  }
}
