github.oauth2.token=kindaSelfExplanatory
#The GH name of the organization to import all of the data from
github.organization.name=sandbox-org-maidSync

#The host of your AC instance
ac.server.baseUrl=https://host.com/ac
ac.server.token=kindaSelfExplanatory

#The name of the company were all the artifacts are going to be 
# read/created. This company must exist in ActiveCollab
ac.server.companyName=Something inc.
