
<div id="details" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <a class="close" href="#">&times;</a>
        <h3>Sync Details</h3>
    </div>
    <div class="modal-body">
        <p>
            <strong>Start time:</strong> <span data-bind="text: SyncStartTime"></span>
        </p>
        <table class="table-condensed table-bordered-outline">
            <tbody>
                <tr>
                    <td><strong>Status:</strong></td>
                    <td data-bind="text: Status"></td>
                </tr>
                <tr>
                    <td><strong>GitHub sync time:</strong></td>
                    <td><span style="cursor: default; padding: 0 0;"
                    class="btn btn-link btn-muted" id="ghSyncTime" title data-toggle="popover" data-content="<small>
                                <strong>Sync start time: </strong>20:52:55.000+01:00
                                </small><br/>
                                <small>
                                <strong>Sync end time: </strong>20:53:00.000+01:00
                            </small>" data-html="true" data-trigger="hover">5s</span></td>
                    <td><strong>ActiveCollab sync time:</strong></td>
                    <td><span style="cursor: default; padding: 0 0;"
                    class="btn btn-link btn-muted" id="acSyncTime" title data-toggle="popover" data-content="<small>
                                <strong>Sync start time: </strong>20:53:00.000+01:00
                                </small><br/>
                                <small>
                                <strong>Sync end time: </strong>20:53:13.000+01:00
                            </small>" data-html="true" data-trigger="hover">13s</span></td>
                </tr>
                <tr>
                    <td><strong>Sync actions:</strong></td>
                    <td><span data-bind="text: NrGeneratedSyncActions"></span></td>
                    <td><strong>Prev. Sync actions:</strong></td>
                    <td><span data-bind="text: NrGeneratedSyncActionsFromRemainingSyncEvents"></span></td>
                </tr>
            </tbody>
        </table>
        <!--    "NumberSyncEventsToProcessAtStart": 0,
      "NumberGHRequestsAtStartSync": 0,
      "NumberGHRequestsAtEndSync": 0,
      "NumberGHRequestsAtEndActions": 0,
      "SyncGHStartTime": "2013-06-14T20:52:55.000+01:00", **
      "SyncGHEndTime": "2013-06-14T20:53:00.000+01:00",  **
      "SyncACStartTime": "2013-06-14T20:53:00.000+01:00", **
      "SyncACEndTime": "2013-06-14T20:53:13.000+01:00", **
      "NrGeneratedSyncActions": 23,
      "NrGeneratedSyncActionsFromRemainingSyncEvents": 0,
      "Status": "Success",
      "nrSyncEventConflictLogs": 0,
      "nrWarnings": 9, -->
      <p> </p>
        <ul class="nav nav-tabs">
            <li class="active"><a>Actions</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">...</a></li>
        </ul>
        <!-- <p>
        <strong>End time:</strong> <span data-bind="text: dateFinish"></span>
    </p>
    <hr />
    <p>
        <strong>Total number of actions:</strong> <span data-bind="text: syncLogDetails().nrTotalActions"></span> <strong>Number
            of actions completed:</strong> <span data-bind="text: syncLogDetails().completedActions().length"></span>
    </p> -->


    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
    </div>
</div>
