
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
</button>
<a class="brand" href="#">MaidSyncher</a>
<div class="nav-collapse collapse">
    <ul class="nav" data-bind="foreach: apps">
        <li data-bind="css: {active: $parent.selectedId() == templateName }">
            <a href="#" data-bind="text: name, click: $parent.goToApp"></a>
       </li>
    </ul>
</div>
<!--/.nav-collapse -->
<p class="navbar-text pull-right" data-bind="visible: showTimestamp">
    Data refreshed at <span data-bind="html: dateLastFetch"></span>
</p>