github.oauth2.token=kindaSelfExplanatory
#The GH name of the organization to import all of the data from
github.organization.name=sandbox-org-maidSync

#The host of your AC instance
ac.server.baseUrl=https://host.com/ac
ac.server.token=kindaSelfExplanatory

#The name of the company were all the artifacts are going to be 
# read/created. This company must exist in ActiveCollab
ac.server.companyName=Something inc.

#The locales that are going to be supported
locales=pt-PT,en-US,en-GB

#Cron like entry that dictates the periodicity that the Synch will occur.
#By default, it has the value below (every 10 minutes).
sync.task.cron.schedule=*/10 * * * *

# The username of the admin
admin.username=admin
# the cleartext password, used for the first time, after it is changed, unless admin.enforce
#is set to true, the password will remain the one chosen by the admin
admin.firstPassword=xpto
# If set to true the admin username and passwords are enforced, i.e. a user
#with the provided name will be created, and its password set to the value
#of the admin.firstPassword field, even if the user already existed. If set to false,
#the admin user and password are only created if the user doesn't yet exist
admin.enforce=false


#The admins usernames list separated by spaces. the admin.username is already included
admins.group=userOne userTwo