github.oauth2.token=kindaSelfExplanatory
#The GH name of the organization to import all of the data from
github.organization.name=sandbox-org-maidSync

#The host of your AC instance
ac.server.baseUrl=https://host.com/ac
ac.server.token=kindaSelfExplanatory

#The name of the company were all the artifacts are going to be 
# read/created. This company must exist in ActiveCollab
ac.server.companyName=Something inc.

#The locales that are going to be supported
locales=pt-PT,en-US,en-GB

#Cron like entry that dictates the periodicity that the Synch will occur.
#By default, it has the value below (every 10 minutes).
sync.task.cron.schedule=*/10 * * * *

#Disable the scheduling of the synching task (usual for doing it manually)
#By default, it is set to false
sync.task.cron.disable=true
